<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 200px; padding-left: 50px">
  <div class="card" style="width: 18rem; border: 2px solid red;">
    <div class="card-body">
      <h5 class="card-title"><%= @meeting.title %></h5>
      <p class="card-text"><%= @meeting.description %></p>
    </div>
  </div>
  <button type="button" class="btn btn-light"><%= link_to 'Edit', edit_meeting_path(@meeting) %></button>
  <button type="button" class="btn btn-light"><%= link_to 'Back', meetings_path %></button>
</div>

