<head>
  <style>

    h1 {
      text-align: center;
    }

    .card {
      border-radius: 2em;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .card:hover{
      box-shadow: 0 5px 10px rgba(0,0,0,.5);
    }

    .button-container {
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: 8em;
    }

  </style>
</head>

<p id="notice"><%= notice %></p>
<br>
<div class="mx-auto" style="width: 65%; margin-left: auto; margin-right: auto;">
  <div class="card" style="width: 65%; border: 3px solid black; margin-left: auto; margin-right: auto;">
    <div class="card-body" style="padding: 2%"><center>
      <h5 class="card-post-date">Posted on: <%= @comment.created_at.strftime("%m-%d-%Y") %></h5>
      <h5 class="card-post-date">Updated on: <%= @comment.updated_at.strftime("%m-%d-%Y") %></h5>
      <hr><p class="card-text"><em><%= @comment.name %></em></p><hr>
      <hr><p class="card-text"><em><%= @comment.description %></em></p><hr>
      <hr><p class="card-text"><em><%= @comment.news_post_id %></em></p><hr>

      <%= link_to 'Show', @comment, :class => "btn btn-primary" %>
      <% if current_user.uid == comment.userID  || current_user.uid == "110391296899575374577" %>
        <%= link_to 'Edit', edit_comment_path(@comment), :class => "btn btn-primary" %>
        <%= link_to 'Delete', delete_comment_path(@comment), :class => "btn btn-primary" %>
      <% end %>
    </center></div>
  </div>
</div>
<center>
  <br><%= link_to 'Back', comments_path %>
</center>
