<%= form_with(model: news_post) do |form| %>
  <% if news_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% news_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :userID %>
    <%= form.text_field :userID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
