<head>
  <style>

    h1 {
      text-align: center;
    }

    .card {
      border-radius: 2em;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .card:hover{
      box-shadow: 0 5px 10px rgba(0,0,0,.5);
    }

  </style>
</head>


<p id="notice"><%= notice %></p>
<center>
  <h1>News Feed</h1>
</center>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>


  <center>
    <h2>
        <%= link_to 'New Post', new_news_post_path %>
    </h2>
  </center>

  <tbody>
    <% @news_post.each do |news_post| %>
      <tr>
        <div class="mx-auto" style="width: 65%; margin-left: auto; margin-right: auto;">
          <div class="card" style="width: 65%; border: 3px solid black; margin-left: auto; margin-right: auto;">
            <div class="card-body"><center>
              <h3 class="card-title"><strong><%= news_post.title %></strong></h3>
              <h5 class="card-author"><strong> Posted by: <%= news_post.name %></strong></h5>
              <h5 class="card-post-date"><strong>Posted on: <%= news_post.created_at.strftime("%m-%d-%Y") %></strong></h5><br>
              <p class="card-text"><em><%= news_post.description %></em></p>

              <button type="button" class="btn btn-light"><%= link_to 'Show', news_post %></button>
              <button type="button" class="btn btn-light"><%= link_to 'Edit', edit_news_post_path(news_post) %></button>
              <button type="button" class="btn btn-light"><%= link_to 'Delete', delete_news_post_path(news_post) %></button>
              <button type="button" class="btn btn-light" >Reply</button>
            </center></div>
          </div>
        </div>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>
