<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 300px; margin-left: auto; margin-right: auto;">
  <div class="card" style="width: 300px; border: 3px solid black; margin-left: auto; margin-right: auto;">
    <div class="card-body"><center>
      <h3 class="card-title"><strong><%= @news_post.title %></strong></h3>
      <p class="card-text"><em><%= @news_post.description %></em></p>
    </center></div>
  </div>
</div>
<center>
  <%= link_to 'Show', @news_post %> |
  <%= link_to 'Back', news_posts_path %>
</center>
