<head>
  <style>
    /** {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
    }*/

    .card {
      border-radius: 2em;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .card:hover{
      box-shadow: 0 5px 10px rgba(0,0,0,.5);
    }

    .list-group-flush .list-group-item {
      font-size: 15px;
    }

    .css_img {
      border-radius: 2em 0em 0em 2em;
      width: 100%;
    }

    .container {
      max-width: 65em;
      margin: 0 auto;
    }

    .button-container {
      margin-left: auto;
      margin-right: auto;
      width: 10em
    }

 </style>
</head>

<p id="notice"><%= notice %></p>

<h1>Events</h1>
<div class="button-container">
  <%= link_to '<button type="button">Add New Event</button>'.html_safe, new_event_path %>
</div>
<br>
<div class="container">
  <% @events.each do |event| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag("/assets/bike.jpg", class: "css_img") %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title", style="font-size:19px;"> <%= event.title %> </h5>
                <p class="card-text">DESCRIPTION</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">DATE-TIME</li>
                <li class="list-group-item">LOCATION</li>
                <li class="list-group-item">ADDITIONAL REQ.</li>
              </ul>
              <div class="card-body">
                <%= link_to 'Show', event, :class => "btn btn-primary" %>
                <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-primary"%>
                <%= link_to 'Destroy', delete_event_path(event), :class => "btn btn-primary"%>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        <p></p>
  <% end %>
</div>
