<head>
  <style>

    h1 {
      text-align: center;
    }

    .card {
      text-align: center;
    }

    .css_img {
      width: 100%;
    }

    .container {
      max-width: 65em;
      margin: 0 auto;
    }

    .button-container {
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: 8em;
    }


 </style>
</head>

<p id="notice"><%= notice %></p>

<h1> <%= @product.name %> </h1>
<div class="container">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag("/assets/Default.jpg", class: "css_img") %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text"> <%= @product.description %> </p>
              </div>

              <table class="table table-sm">
                <colgroup>
                  <col span="1" style="width: 28%;">
                  <col span="1" style="width: 72%;">
                </colgroup>

                <tbody>
                  <tr>
                    <th scope="row", style="font-weight: normal; color: gray;"> Name </th>
                    <td> <%= @product.name %> </td>
                  </tr>
                  <tr>
                    <th scope="row", style="font-weight: normal; color: gray;"> Price </th>
                    <td> <%= @product.price %> </td>
                  </tr>
                  <tr>
                    <th scope="row", style="font-weight: normal; color: gray;"> Created on </th>
                    <td> <%= @product.created_at.strftime("%m/%d/%Y at %I:%M%p") %> </td>
                  </tr>
                  <tr>
                    <th scope="row", style="font-weight: normal; color: gray;"> Last updated on </th>
                    <td> <%= @product.updated_at.strftime("%m/%d/%Y at %I:%M%p") %> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container", style="margin-left: 30em;">
          <%= link_to '<button type="button"> Edit </button>'.html_safe, edit_product_path(@product) %>
          <%= link_to '<button type="button"> Back </button>'.html_safe, products_path %>
        </div>
</div>
