<head>
  <style>
    h1 {
      text-align: center;
    }

    .container {
      max-width: 31em;
      margin: 0 auto;
      padding: 20px;
    }

    .bigger-container {
      max-width: 35em;
      margin: 0 auto;
      background-color: #f2f2f2;
    }

    input {
      padding: 12px 20px;
      width: 400px;
      margin: 8px 0;
      box-sizing: border-box;
    }

    input[type=text]:focus {
      background-color: lightgrey;
      word-wrap: break-word;
        word-break: break-all;
    }

    textarea {
      width: 400px;
      height: 100px;
    }


  </style>
</head>

<div class="bigger-container">
  <div class="container">
  <%= form_with(model: @member) do |form| %>
    <% if @member.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

        <ul>
          <% member.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= form.label :title %>
      <br>
      <%= form.text_field :title, placeholder: "Enter title.." %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <br>
      <%= form.text_area :description, placeholder: "Enter description.." %>
    </div>

    <div class="field", style="max-width: 13rem">
      <%= form.label :meeting_date, "Date and time" %>
      <br>
      <%= form.datetime_field :meeting_date %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <br>
      <%= form.text_field :location, placeholder: "Enter location.." %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
  </div>
